.container {
  position: absolute;
  top: 20px;
  left: 20px;
  bottom: 20px;
  width: 220px;
  background-color: var(--bg-secondary);
  border: 1px solid var(--border-primary);
  border-radius: 3px;
  padding: 1rem;
}

.selector-bg {
  width: calc(100% - 2rem);
  position: absolute;
  background-color: var(--bg-primary);
  z-index: 1;
  border-radius: 3px;
  transition: 0.2s;
}

.menu {
  position: relative;
  padding: 1rem;
  font-weight: 300;
  z-index: 2;

  a {
    display: block;
    text-decoration: none;
  }

  a:hover {
    color: white;
  }
}
