$bp-mobile: 528px;
$bp-tablet: 768px;
$bp-ipad-pro: 1024px;

$primary-dark: #e4960e;
$secondary-dark: #eba92a;
$text-primary-dark: #ffffff;
$bg-primary-dark: #181612;
$bg-secondary-dark: #1b1b16;
$border-primary: #2b2923;

$primary-light: #e4960e;
$secondary-light: #eba92a;
$text-primary-light: #0d2531;
$bg-primary-light: #ffffff;
$bg-secondary-light: #dddddd;
